
Project/output/barcodes_l10_n16000000_filtered.txt
Project/output/barcodes_l5_n16000000_filtered.txt
Project/output/barcodes_l6_n16000000_filtered.txt
Project/output/barcodes_l8_n16000000_filtered.txt
Project/input/test.fa
Project/output/test.txt
Project/input/
Project/output/
